<app-login></app-login>
<div class="header">
    <div class="overlay">
      <h5 class="header-h5 text-light">Page</h5>
      <p class="header-p text-light">Home / Page</p>
    </div>
  </div>
  <div class="page mt-5 mb-5">
       <div class="container">
         <div class="row">
           <div class="col-md-12">
             <div class="row bg-light p-3">
             <div class="display-para col-md-11" (click)="displ()">
             <h5 class="text-dark">Anim pariatur cliche reprehenderit, enim eiusmod high life </h5>
            </div>
            <div class="col-md-1"><i class="fa fa-plus" aria-hidden="true"></i></div>
          </div>
            <div class="hidden-para col-md-12">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
           </div>

           <div class="col-md-12 mt-3 mb-3">
              <div class="row bg-light p-3">
             <div class="display-para2 col-md-11">
             <h5 class="text-dark">dolor brunch. Food truck quinoa nesciunt laborum eiusmod</h5>
            </div>
            <div class="col-md-1"><i class="fa fa-plus" aria-hidden="true"></i></div>
          </div>
           <div class="hidden-para2 col-md-12">
             <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
           </div>
          </div>

          <div class="col-md-12">
              <div class="row bg-light p-3">
             <div class="display-para3 col-md-11">
             <h5 class="text-dark">assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft</h5>
            </div>
            <div class="col-md-1"><i class="fa fa-plus" aria-hidden="true"></i></div>
          </div>
           <div class="hidden-para3 col-md-12">
             <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
           </div>
          </div>

          <div class="col-md-12 mt-3 mb-3">
              <div class="row bg-light p-3">
             <div class="display-para4 col-md-11">
             <h5 class="text-dark">vice lomo. Leggings occaecat craft beer farm-to-table, raw</h5>
            </div>
            <div class="col-md-1"><i class="fa fa-plus" aria-hidden="true"></i></div>
          </div>
           <!-- <div class="col-md-2"><i class="fa fa-plus" aria-hidden="true"></i></div> -->
           <div class="hidden-para4 col-md-12">
             <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
           </div>
          </div>

          <div class="col-md-12 mt-3 mb-3">
             <div class="row bg-light p-3">
             <div class="display-para5 col-md-11">
             <h5 class="text-dark">terry richardson ad squid. 3 wolf moon officia aute, non</h5>
            </div>
            <div class="col-md-1"><i class="fa fa-plus" aria-hidden="true"></i></div>
          </div>
          <div class="hidden-para5 col-md-12">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
          </div>
         </div>

         <div class="col-md-12">
             <div class="row bg-light p-3">
             <div class="display-para6 col-md-11">
             <h5 class="text-dark">Anim pariatur cliche reprehenderit, enim eiusmod high </h5>
            </div>
            <div class="col-md-1"><i class="fa fa-plus" aria-hidden="true"></i></div>
          </div>
          <div class="hidden-para6 col-md-12">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
          </div>
         </div>
         </div>
       </div>
    </div>











    <div class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-5 mt-5">
            <h6>ABOUT US</h6>
            <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have
              suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
              believable.</p>
          </div>
          <div class="col-md-2 mt-5">
            <h6>CATEGORIES</h6>
            <ul class="list-unstyled text-muted">
              <li>Fashion Sneakers</li>
              <li class="mt-2 mb-2">Jackets</li>
              <li class="mb-2">Outdoor Shop</li>
              <li class="mb-2">Pants</li>
              <li class="mb-5">Shirts & Tops</li>
            </ul>
          </div>
          <div class="col-md-2 mt-5">
            <h6>MY ACCOUNT</h6>
            <ul class="list-unstyled text-muted">
              <li>Orders</li>
              <li class="mt-2 mb-2">Compare</li>
              <li class="mb-2">Wishlist</li>
              <li class="mb-2">Log In
              </li>
              <li class="mb-4">Register</li>
    
            </ul>
          </div>
          <div class="col-md-3 mt-5">
            <h6>CONTACT INFO</h6>
            <ul class="list-unstyled text-muted">
              <li><i class="fa fa-map-marker text-danger mr-2" aria-hidden="true"></i>
                c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</li>
              <li class="mt-2 mb-2"><i class="fa fa-phone text-danger mr-2" aria-hidden="true"></i>
    
                +025 2155 3255</li>
              <li><i class="fa fa-envelope-o text-danger mr-2" aria-hidden="true"></i>
                info@gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="bg-dark footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mt-3">
            <p class="text-light">Copyright © 2018. All Rights Reserved.
    
            </p>
          </div>
          <div class="col-md-6 mt-3">
            <ul class="list-unstyled text-light d-flex ml-5">
              <li><i class="fa fa-facebook" aria-hidden="true"></i>
              </li>
              <li class="ml-4"><i class="fa fa-google" aria-hidden="true"></i>
              </li>
              <li class="ml-4"><i class="fa fa-twitter" aria-hidden="true"></i>
              </li>
              <li class="ml-4"><i class="fa fa-linkedin" aria-hidden="true"></i>
              </li>
    
            </ul>
          </div>
        </div>
      </div>
    </div>
