<app-login></app-login>
<div class="header">
  <div class="overlay">
    <h5 class="header-h5 text-light">About</h5>
    <p class="header-p text-light">Home / About</p>
  </div>
</div>

<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 h-50">
        <img src="assets/images/31.jpg" class="w-100 h-100">
      </div>
      <div class="col-md-7 mt-5">
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        </p>
<p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
      </div>
    </div>
  </div>
</div>

<div class="rate mt-5">
  <div class="overlay2">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-5">
          <!-- <countdown-timer [start]="'2017-01-01 00:00:00'"></countdown-timer> -->

          <!-- <h1 [countUp]="345" (complete)="doSomethingOnComplete()">0</h1> -->
          <!-- <span class="timer text-light" data-from="250" data-to="1075" data-speed="6500">250</span> -->
          <div class="line text-light"></div>
          <p class="text-light">Brands</p>
        </div>
        <div class="col-md-4 mt-5">
          <span class="timer text-light" data-from="25" data-to="775" data-speed="6500">775</span>
          <div class="line text-light"></div>
          <p class="text-light">Store</p>
        </div>
        <div class="col-md-4 mt-5">
          <span class="timer text-light" ata-from="125" data-to="275" data-speed="6500">125</span>
          <div class="line text-light"></div>
          <p class="text-light">Happy Client</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="mt-5">
  <div class="container">
      <owl-carousel-o [options]="customOptions2">
        <ng-template carouselSlide>
          <div class="your-class col-md-12">
            <div class="col-md-12 bg-danger mt-5 mb-5 d-flex">
              <div class="your-class-img mb-5 mt-5 ml-3 mr-3">
                <img src="assets/images/64.jpg" class="rounded-circle h-100 img-fluid">
              </div>
              <div class=" mt-5 ">
                <p class="text-light mt-3">
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
    
                </p>
                <p class="text-dark">William Genske</p>
    
              </div>
            </div></div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="your-class col-md-12">
            <div class="col-md-12 bg-danger mt-5 mb-5 d-flex">
              <div class="your-class-img mb-5 mt-5 ml-3 mr-3">
                <img src="assets/images/64.jpg" class="rounded-circle h-100 img-fluid">
              </div>
              <div class=" mt-5 ">
                <p class="text-light mt-3">
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
    
                </p>
                <p class="text-dark">William Genske</p>
    
              </div>
            </div></div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="your-class col-md-12">
            <div class="col-md-12 bg-danger mt-5 mb-5 d-flex">
              <div class="your-class-img mb-5 mt-5 ml-3 mr-3">
                <img src="assets/images/64.jpg" class="rounded-circle h-100 img-fluid">
              </div>
              <div class=" mt-5 ">
                <p class="text-light mt-3">
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
    
                </p>
                <p class="text-dark">William Genske</p>
    
              </div>
            </div></div>
        </ng-template>  
      </owl-carousel-o>
  </div>
</div>

<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex">
        <div class="col-md-3 h-50">
          <img class="w-100 h-100" src="assets/images/customer-logo.png">
        </div>
        <div class="col-md-8">
          <h5>24/ 7 SUPPORT</h5>
          <p class="para text-muted">CUSTOMER SUPPORT</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="col-md-3 h-50">
          <img class="w-100 h-100" src="assets/images/payment-logo.png">
        </div>
        <div class="col-md-8">
          <h5> PAYMENT</h5>
          <p class="para text-muted">SECURE SYSTEM</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="col-md-3 h-50">
          <img class="w-100 h-100" src="assets/images/delivery-logo.jpg">
        </div>
        <div class="col-md-8">
          <h5>FREE DELIVERY</h5>
          <p class="para text-muted">WORLDWIDE</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="col-md-3 h-50">
          <img class="w-100 h-100" src="assets/images/tru-logo.png">
        </div>
        <div class="col-md-8">
          <h5> TRUSTED</h5>
          <p class="para text-muted">ENUINE PRODUCTS</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mt-5">
        <h6>ABOUT US</h6>
        <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
          believable.</p>
      </div>
      <div class="col-md-2 mt-5">
        <h6>CATEGORIES</h6>
        <ul class="list-unstyled text-muted">
          <li>Fashion Sneakers</li>
          <li class="mt-2 mb-2">Jackets</li>
          <li class="mb-2">Outdoor Shop</li>
          <li class="mb-2">Pants</li>
          <li class="mb-5">Shirts & Tops</li>
        </ul>
      </div>
      <div class="col-md-2 mt-5">
        <h6>MY ACCOUNT</h6>
        <ul class="list-unstyled text-muted">
          <li>Orders</li>
          <li class="mt-2 mb-2">Compare</li>
          <li class="mb-2">Wishlist</li>
          <li class="mb-2">Log In
          </li>
          <li class="mb-4">Register</li>

        </ul>
      </div>
      <div class="col-md-3 mt-5">
        <h6>CONTACT INFO</h6>
        <ul class="list-unstyled text-muted">
          <li><i class="fa fa-map-marker text-danger mr-2" aria-hidden="true"></i>
            c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</li>
          <li class="mt-2 mb-2"><i class="fa fa-phone text-danger mr-2" aria-hidden="true"></i>

            +025 2155 3255</li>
          <li><i class="fa fa-envelope-o text-danger mr-2" aria-hidden="true"></i>
            info@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3">
        <p class="text-light">Copyright © 2018. All Rights Reserved.

        </p>
      </div>
      <div class="col-md-6 mt-3">
        <ul class="list-unstyled text-light d-flex ml-5">
          <li><i class="fa fa-facebook" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-google" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-twitter" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-linkedin" aria-hidden="true"></i>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

