<div class="bg-dark text-white">
  <div class="container">
    <div class="row">
    <div class="col-md-4 mt-2">
      <ul class="unstyled clearfix">
          <li class="float-left"><i class="fa fa-phone" aria-hidden="true"></i>
            +00 123 456 67</li>
          <li class="float-right"><i class="fa fa-envelope-o" aria-hidden="true"></i>
            info@gmail.com</li>
      </ul>
    </div>
  
</div>
</div></div>
<div class="nav2 mt-3" id="nav2">
  <div class="container">
    <div class="row">
      <div class="nav2-logo col-md-3 d-flex">
        <div class="nav2-img mb-2"><img class="img-fluid" src="assets/images/logo2.JPG"></div>
        <div class="nav2-para">
          <p><img class="img-fluid nav2-para-img" src="assets/images/logo.JPG">SHOP</p>
          <p class="nav-p">Online Shopping Store</p>
                </div>
      </div>
      <div class="search col-md-3 rounded border border-light h-25">
         <div class="row">
           <div class="col-md-8">
           <input type="search" placeholder="Search product" class="border-0  p-1">
          </div>
          <div class="col-md-2">
           <button class="btn rounded border-0 bg-danger p-2 pl-3 pr-3 text-light ml-5">Search</button>
         </div></div>
      </div>
      <div class="col-md-4 l-div">
        <div class="row">
          <div class="nav-img col-md-6 ml-1">
            <img class="img-fluid h-100 w-100" src="assets/images/logo3.jpg">
          </div>
          <div class="nav-h5 col-md-6">
            <div class="display-list" >
            <h5>$2.00 <i class="fa fa-caret-down" aria-hidden="true"></i></h5>
          </div>
           
          </div>
        </div>
      </div>
      <div class="hidden-list col-md-2">
        <i class="fa fa-list-ul" aria-hidden="true" (click)="displ()" (mouseover)="hidden()"></i>

        <ul class="ul list-unstyled" id="hidden">
          <li><a routerLink='/home' routerLinkActive='act'>Home</a></li>
          <li><a routerLink='/about' routerLinkActive='act'>About</a></li>
          <li><a routerLink='/page' routerLinkActive='act'>Pages</a></li>
          <li><a routerLink='/shop' routerLinkActive='act'>Shop</a></li>
          <li><a routerLink='/blog' routerLinkActive='act'>Blog</a></li>
          <li><a routerLink='/contact' routerLinkActive='act'>Contact</a></li>
      </ul>
      </div>
    </div>
  </div>
</div>
<div class="line"></div>

<div class="nav3 mt-3" id="nav3">
  <div class="container">
       <div class="row">

           <div class="d-flex">
           <ul class="ul list-unstyled d-flex">
               <li><a routerLink='/home' routerLinkActive='act'>Home</a></li>
               <li><a routerLink='/about' routerLinkActive='act'>About</a></li>
               <li><a routerLink='/page' routerLinkActive='act'>Pages</a></li>
               <li><a routerLink='/shop' routerLinkActive='act'>Shop</a></li>
               <li><a routerLink='/blog' routerLinkActive='act'>Blog</a></li>
               <li><a routerLink='/contact' routerLinkActive='act'>Contact</a></li>
           </ul>
       </div> 
       
       
         </div>
  </div>
</div>