<div class="lighter" id="lighter" (click)="lig()">
      <div class="lighter-item">
          <div class="container">
          <div class="row">
              <div class="login-img col-md-6">
                    <img src="assets/images/26.jpeg" class="w-100 h-100">
              </div>
              <div class="login col-md-6">
                <i id="wclose" class="fa fa-window-close p-3"></i>
                  <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="logo1 col-md-4"><img src="assets/images/logo2.JPG" class="h-100 w-100"></div>
                              <div class="logo2 col-md-8">
                                  <h5 class="atz-shop-img"><img src="assets/images/logo.JPG" class="h-100 w-25">Shop</h5>
                                  <p class="Online-p">Online Shopping Store</p>
                              </div>
                              <div class="login-form col-md-12 col-sm-12 col-xs-12">
                                  <h5 class="mt-3 ml-5">Join Us Now</h5>
                                  <p class="ml-3">And get hot news about the theme</p>
                                  <input type="text" placeholder="Enter Your Email" class="border border-ligh rounded-pill p-2 w-100">
                                  <button class="border-0 bg-danger text-light w-100 rounded-pill p-2 mt-3">Subscribe</button>
                                  <p class="text-muted mt-3"><input type="checkbox" class="ml-4 mt-2"> Don't Show This PopUp again</p>
                                </div>
                                </div>
                              
                          </div>
                      </div>
                  </div>
            
            </div>
          </div></div>
      </div>






</div>
