.header{
    background: url(src/assets/images/24.jpg);
    background-repeat: no-repeat;
    background-size: cover;
       min-height: 500px;
}
.overlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(5, 3, 3, 0.5);
}
.header-h5,.header-p{
    position: absolute;
    margin-left: 40%;
    margin-top: 16%;
    font-size: 20px;
}
.header-p{margin-top: 18%; margin-left: 38%;}
/* start contact */
.contact-info{
    width: 19%;
    text-align: center;
    height: 288px;
}
.contact-form h2,.contact-info-h2{
    font-size: 20px;
    font-family: 'Droid Sans' , sans-serif;
}
.contact-form input{
    width: 90%;
    outline: none;
}
.contact-form textarea{
    width: 90%;
    height: 150px;
}
.btn-btn-info1,.btn-btn-info2{
    background-color:rgb(214, 12, 12);
    color: white;
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 5px;
    transition: all .5s ease-in;
}
.btn-btn-info2{
    margin-left:10px;
}
.contact-form button:hover{
background-color:red;
}

.contact-info-h21{
    font-size: 20px;
}
.info{
    background-color:rgb(100, 99, 99);
    color: white; 
    padding: 40px;
}
/* end contact */
 /* start maps */
 iframe{
    width: 100%;
    height: 100%;
}
.maps{
    width: 100%;
    height: 499px;
}
/* end maps */
@media (max-width: 767px ){/* mobile & tablet*/
    .contact-form,.contact-info{width: 94%;margin-left: 5%;}
    .contact-info{margin-bottom: 23%}
    .header-p{margin-top: 22%;}
    .btn-btn-info1, .btn-btn-info2{width: 30%;}
    .contact-info-h2{
        margin-top: -11% !important;
    }
    .info{
        margin-top: -10%;
    }

}
@media (min-width: 768px) and (max-width:991px){ /* small screen */



}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */


}
