<div class="header">
    <div class="overlay">
      <h5 class="header-h5 text-light">Contact</h5>
      <p class="header-p text-light">Home / Contact</p>
    </div>
  </div>

   <!-- start contact -->
   <div class="contactt">
     <div class="container">
       <div class="row">
    <div class="contact-form col-md-8 col-xs-12 col-sm-12">
      <h2 class="mt-5 mb-5">LEAVE A MESSAGE</h2>
      <form  (ngSubmit)='saveform()'>
          <div class="form-group group1">
              <label>YOUR NAME</label>
           <input type="text" formControlName='userName' class="form-contol">
         <div *ngIf="contactsForm.controls.userName.touched && contactsForm.controls.userName.errors != null" class="alert text-danger">userName Required</div>
          </div>
       <div class="form-group group2">
         <label>YOUR Email Address</label>
          <input type="text" formControlName='userEmail' class="form-contol">
          <div *ngIf="contactsForm.controls.userEmail.touched && contactsForm.controls.userEmail.errors != null" class="alert text-danger">userEmail invalid</div>
         </div>
         <div class="form-group group2">
          <label>Write SUBJECT</label>
           <input type="text" formControlName='subject' class="form-contol">
           <div *ngIf="contactsForm.controls.subject.touched && contactsForm.controls.subject.errors != null" class="alert text-danger">subject Required</div>
          </div>
          <div class="form-group group2">
              <label>Write MESSAGE</label>
               <input type="text" formControlName='message' class="form-contol">
               <div *ngIf="contactsForm.controls.message.touched && contactsForm.controls.message.errors != null" class="alert text-danger">MISSAGE Required</div>
              </div>
         <a><button [disabled]='contactsForm.invalid' type="submit" class="btn-btn-info1">SEND</button></a>
         <a><button [disabled]='contactsForm.invalid' type="submit" class="btn-btn-info2">PREVIEW</button></a>
       </form>
    </div>
    <div class="contact-info col-md-4 col-xs-12 col-sm-12">
    <h2 class="contact-info-h2 mt-5 mb-5">Contact Info</h2>
    <div class="info">
      <h2 class="contact-info-h21"><i class="fa fa-phone" aria-hidden="true"></i>Phone number</h2>
      <p>(123)456-7544</p>
      <h2 class="contact-info-h21"><i class="fa fa-envelope-o" aria-hidden="true"></i>Email address</h2>
      <p>youeemail@gmail.com/p>
      <h2 class="contact-info-h21"><i class="fa fa-map-marker" aria-hidden="true"></i>Address info</h2>
      <p>09,martin street b190 pale</p>
    </div>
    </div>
    <!-- <div class="clearfix"></div> -->
</div> </div>
</div>
<!-- end contact -->
<app-login></app-login>
<!-- start maps -->
<div class="maps">
<iframe
    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3456.6419301838555!2d30.923223!3d29.9609765!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1573909576260!5m2!1sar!2seg"
    frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>

<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mt-5">
        <h6>ABOUT US</h6>
        <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
          believable.</p>
      </div>
      <div class="col-md-2 mt-5">
        <h6>CATEGORIES</h6>
        <ul class="list-unstyled text-muted">
          <li>Fashion Sneakers</li>
          <li class="mt-2 mb-2">Jackets</li>
          <li class="mb-2">Outdoor Shop</li>
          <li class="mb-2">Pants</li>
          <li class="mb-5">Shirts & Tops</li>
        </ul>
      </div>
      <div class="col-md-2 mt-5">
        <h6>MY ACCOUNT</h6>
        <ul class="list-unstyled text-muted">
          <li>Orders</li>
          <li class="mt-2 mb-2">Compare</li>
          <li class="mb-2">Wishlist</li>
          <li class="mb-2">Log In
          </li>
          <li class="mb-4">Register</li>

        </ul>
      </div>
      <div class="col-md-3 mt-5">
        <h6>CONTACT INFO</h6>
        <ul class="list-unstyled text-muted">
          <li><i class="fa fa-map-marker text-danger mr-2" aria-hidden="true"></i>
            c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</li>
          <li class="mt-2 mb-2"><i class="fa fa-phone text-danger mr-2" aria-hidden="true"></i>

            +025 2155 3255</li>
          <li><i class="fa fa-envelope-o text-danger mr-2" aria-hidden="true"></i>
            info@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3">
        <p class="text-light">Copyright © 2018. All Rights Reserved.

        </p>
      </div>
      <div class="col-md-6 mt-3">
        <ul class="list-unstyled text-light d-flex ml-5">
          <li><i class="fa fa-facebook" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-google" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-twitter" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-linkedin" aria-hidden="true"></i>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

