.header{
    background: url(src/assets/images/47.jpg);
    background-repeat: no-repeat;
    background-size: cover;
       min-height: 500px;
}
.overlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(5, 3, 3, 0.5);
}
.header-h5,.header-p{
    position: absolute;
    margin-left: 40%;
    margin-top: 16%;
    font-size: 20px;
}
.header-p{margin-top: 18%; margin-left: 38%;}
.Category-item,.product .row,.post .row{border-bottom:1px dotted gainsboro}
.blog{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px 15px 30px 30px;
    padding-bottom: 15px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.1);
}
.blog-img{height: 320px;}
input{outline: none;}
.product-img{height: 70px;}
.ads{
    background: url(src/assets/images/31.jpg);
    min-height: 180px;
}
.ads h5{margin-top: 20%;position: absolute;}
.circle{height: 50px;}
@media (max-width: 767px ){/* mobile & tablet*/
.circle{width:10%}
.header-p{margin-top: 22%;}


}
@media (min-width: 768px) and (max-width:991px){ /* small screen */



}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */


}