<!-- <app-loader></app-loader> -->
<app-login></app-login>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="slider-ineer1 col-md-12">
        <div class="carousel-caption1  d-md-block">
        <h5 class="text-light ml-5">SUMMER SALE</h5>
        <p class="text-light">Get up to 50% off your shopping items !</p>
        <button class="btn btn-danger rounded text-light ml-5">Shop Now</button>
      </div>  </div>  
    </ng-template>  
    <ng-template carouselSlide> 
      <div class="slider-ineer3 col-md-12">
      <div class="carousel-caption1  d-md-block">
      <h5 class="text-light ml-5">SUMMER SALE</h5>
      <p class="text-light">Get up to 50% off your shopping items !</p>
      <button class="btn btn-danger rounded text-light ml-5">Shop Now</button>
    </div></div>
  </ng-template>  
    <ng-template carouselSlide>
      <div class="slider-ineer2 col-md-12">
        <div class="carousel-caption2 d-md-block">
    
        <h5 class="text-light ml-5">SUMMER SALE</h5>
        <p class="text-light">Get up to 50% off your shopping items !</p>
        <button class="btn btn-danger rounded text-light ml-5">Shop Now</button>
      </div>
    </div>    
    </ng-template>  
  </owl-carousel-o>
<!-- end owl-carousel -->

<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="wow bounceInLeft images col-md-4">
        <img src="assets/images/30.jpg" class="img-fluid">
        <div class="front">
          <p class="text-white ml-5 mt-5">$ 50.00</p>
          <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
        </div>
      
      </div>
      <div class="images col-md-4">
        <img src="assets/images/31.jpg" class="img-fluid">
        <div class="front">
          <p class="text-white ml-5 mt-5">$ 50.00</p>
          <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
        </div>
       
      </div>
      <div class="images col-md-4">
        <img src="assets/images/29.jpg" class="img-fluid">
        <div class="front">
          <p class="text-white ml-5 mt-5">$ 50.00</p>
          <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="mt-5 ml-2 custom1">

  <div class="container">
    <div class="row">
      <h5 class="h5-product mb-5">POPULAR PRODUCTS</h5>
      <div class="owl-carousel owl-theme owl2 ml-2">
        <div class="carous-img">
          <img src="assets/images/26.jpeg" class="img-fluid h-100" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div>
           </div>
        <div class="carous-img"> 
          <img src="assets/images/38.jpg" class="h-100 img-fluid" /> 
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div>
        </div>
        <div class="carous-img"> <img src="assets/images/37.jpg" class="h-100 w-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div> </div>
        <div class="carous-img"><img src="assets/images/18.jpg" class="h-100 w-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div> </div>
        <div class="carous-img"> <img src="assets/images/19.png" class="h-100 w-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div> </div>
        <div class="carous-img"> <img src="assets/images/17.jpg" class="h-100 w-100 img-fluid" /> 
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div></div>
        <div class="carous-img"> <img src="assets/images/25.jpg" class="h-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div> </div>
        <div class="carous-img"><img src="assets/images/55.jpeg" class="h-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div></div>
        <div class="carous-img"> <img src="assets/images/57.jpg" class="h-100 w-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div> </div>
        <div class="carous-img"> <img src="assets/images/47.jpg" class="h-100 w-100 img-fluid" /> 
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div></div>
        <div class="carous-img"><img src="assets/images/29.jpg" class="h-100 w-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div> </div>
        <div class="carous-img"> <img src="assets/images/15.jpg" class="h-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div> </div>
        <div class="carous-img"> <img src="assets/images/58.jpeg" class="h-100 w-100 img-fluid" />
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div> </div>
        <div class="carous-img"> <img src="assets/images/34.jpg" class="h-100 w-100 img-fluid" /> 
          <div class="front2">
            <p class="text-white ml-5 mt-5">$ 50.00</p>
            <p class="text-light ml-3">Get up to 50% offer !</p>

            <button class="text-light bg-danger rounded border-0 p-2 mt-1 ml-5">Shop now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image2 mt-5">
  <div class="container">
    <div class="row">
      <div class="image21  ml-3 col-md-6">
        <img src="assets/images/43.jpg">
        <div class="parag bg-danger">
          <h2 class="mt-2 ml-2">latest trand</h2>
          <p class="w-75 ml-5">loremIpsum latest trand loremIpsum latest trand
             loremIpsum latest trand loremIpsum latest trand
             loremIpsum latest trand loremIpsum</p>
          <a class="text-dark mb-3">read more</a>
      </div>
      </div>
      <div class="image21 image22 col-md-6">
        <img src="assets/images/41.jpg">

        <div class="parag bg-danger">
          <h2 class="mt-1">latest trand</h2>
          <p class="w-75 ml-5">loremIpsum latest trand loremIpsum latest trand
             loremIpsum latest trand loremIpsum latest trand
             loremIpsum latest trand loremIpsum</p>
          <a class="text-dark">read more</a>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="container">
      <owl-carousel-o [options]="customOptions2">
        <ng-template carouselSlide>
          <div class="your-class col-md-12">
            <div class="col-md-12 bg-danger mt-5 mb-5 d-flex">
              <div class="your-class-img mb-5 mt-5 ml-3 mr-3">
                <img src="assets/images/64.jpg" class="rounded-circle h-100 img-fluid">
              </div>
              <div class=" mt-5 ">
                <p class="text-light mt-3">
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
    
                </p>
                <p class="text-dark">William Genske</p>
    
              </div>
            </div></div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="your-class col-md-12">
            <div class="col-md-12 bg-danger mt-5 mb-5 d-flex">
              <div class="your-class-img mb-5 mt-5 ml-3 mr-3">
                <img src="assets/images/47.jpg" class="rounded-circle h-100 img-fluid">
              </div>
              <div class=" mt-5 ">
                <p class="text-light mt-3">
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
    
                </p>
                <p class="text-dark">William Genske</p>
    
              </div>
            </div></div>
        </ng-template>  
        <ng-template carouselSlide>
          <div class="your-class col-md-12">
            <div class="col-md-12 bg-danger mt-5 mb-5 d-flex">
              <div class="your-class-img mb-5 mt-5 ml-3 mr-3">
                <img src="assets/images/58.jpeg" class="rounded-circle h-100 img-fluid">
              </div>
              <div class=" mt-5 ">
                <p class="text-light mt-3">
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
                  Mauris eu euismod tellus curabitur a neque in nulla iaculis...
    
                </p>
                <p class="text-dark">William Genske</p>
    
              </div>
            </div></div>
        </ng-template>  
      </owl-carousel-o>
  </div>
</div>

<div class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="blog col-md-4">
        <img class="img-fluid h-50 w-100" src="assets/images/24.jpg">
        <h5 class="new-h2 ml-5">congue ante</h5>
        <div class="news-line"></div>
        <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit</p>
        <a class="ml-5 text-danger">Read More</a>
      </div>
      <div class="blog col-md-4 ">
        <img class="img-fluid h-50 w-100" src="assets/images/21.jpg">
        <h5 class="new-h2 ml-5">ante present</h5>
        <div class="news-line"></div>
        <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit</p>
        <a class="ml-5 text-danger">Read More</a>
      </div>
      <div class="blog col-md-4">
        <img class="img-fluid h-50 w-100" src="assets/images/22.jpg">
        <h5 class="new-h2 ml-5">Prasent a congue</h5>
        <div class="news-line"></div>
        <p class="text-secondary">porttitor magna in commodo risus justo vitae nibh leo velit sit amet velit</p>
        <a class="ml-5 text-danger">Read More</a>
      </div>
    </div>
  </div>
</div>


<div class="owl-carousel owl-theme owl">
  <div class="h-5"> 
    <img class="owl-img img-fluid h-100 w-100" src="assets/images/22.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-5"> <img class="owl-img img-fluid h-100" src="assets/images/30.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-5"> <img class="owl-img img-fluid h-100" src="assets/images/47.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-5"> <img class="owl-img img-fluid h-100" src="assets/images/38.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-25"> <img class="owl-img img-fluid h-100" src="assets/images/35.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-25"> <img class="owl-img img-fluid h-100" src="assets/images/44.jpeg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
</div>

<div class="light show2" id="light"> 
  <i id="wclose" class="fa fa-window-close"></i> 
<div class="light-item" id="light-item">
 <i id="prev" class="fa fa-chevron-left text-danger" aria-hidden="true"></i>
 <i id="next" class="fa fa-chevron-right text-danger" aria-hidden="true"></i>
 </div>
</div>

<div class="owl-carousel owl-theme owl3">
  <div class="h-25"> 
    <img class="owl-img img-fluid h-100" src="assets/images/19.png">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-5"> <img class="owl-img img-fluid h-100" src="assets/images/17.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-5"> <img class="owl-img img-fluid h-100" src="assets/images/26.jpeg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-5"> <img class="owl-img img-fluid h-100" src="assets/images/34.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-25"> <img class="owl-img img-fluid h-100" src="assets/images/31.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
  <div class="h-25"> <img class="owl-img img-fluid h-100" src="assets/images/18.jpg">
    <div class="front2">
      <i class="fa fa-camera text-light mt-5" aria-hidden="true"></i>

    </div>
  </div>
</div>





<div class="bg-dark follow">
  <div class="container">
    <div class="row">
      <div class="follow-update  mt-5 mb-5">
        <h5 class="col-md-12 text-light">FOLLOW OUR UPDATES!</h5>
        <div class="line"></div>
        <p class="col-md-12 text-light">If you want to get an email from us every time we have a new special offer, then
          sign up here! </p>
        <input class="border-0 outline-0 p-2 ml-5 rounded-pill w-50" type="text" placeholder="Enter Youe Email">
        <button class="bg-danger rounded  border-0 outline-0 p-2 text-light ml-3">Subscrip</button>
      </div>
    </div>
  </div>
</div>

<div class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex">
        <div class="col-md-3 h-50">
          <img class="w-100 h-100" src="assets/images/customer-logo.png">
        </div>
        <div class="col-md-8">
          <h5>24/ 7 SUPPORT</h5>
          <p class="para text-muted">CUSTOMER SUPPORT</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="col-md-3 h-50">
          <img class="w-100 h-100" src="assets/images/payment-logo.png">
        </div>
        <div class="col-md-8">
          <h5> PAYMENT</h5>
          <p class="para text-muted">SECURE SYSTEM</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="col-md-3 h-50">
          <img class="w-100 h-100" src="assets/images/delivery-logo.jpg">
        </div>
        <div class="col-md-8">
          <h5>FREE DELIVERY</h5>
          <p class="para text-muted">WORLDWIDE</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="col-md-3 h-50">
          <img class="w-100 h-100" src="assets/images/tru-logo.png">
        </div>
        <div class="col-md-8">
          <h5> TRUSTED</h5>
          <p class="para text-muted">ENUINE PRODUCTS</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mt-5">
        <h6>ABOUT US</h6>
        <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have
          suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
          believable.</p>
      </div>
      <div class="col-md-2 mt-5">
        <h6>CATEGORIES</h6>
        <ul class="list-unstyled text-muted">
          <li>Fashion Sneakers</li>
          <li class="mt-2 mb-2">Jackets</li>
          <li class="mb-2">Outdoor Shop</li>
          <li class="mb-2">Pants</li>
          <li class="mb-5">Shirts & Tops</li>
        </ul>
      </div>
      <div class="col-md-2 mt-5">
        <h6>MY ACCOUNT</h6>
        <ul class="list-unstyled text-muted">
          <li>Orders</li>
          <li class="mt-2 mb-2">Compare</li>
          <li class="mb-2">Wishlist</li>
          <li class="mb-2">Log In
          </li>
          <li class="mb-4">Register</li>

        </ul>
      </div>
      <div class="col-md-3 mt-5">
        <h6>CONTACT INFO</h6>
        <ul class="list-unstyled text-muted">
          <li><i class="fa fa-map-marker text-danger mr-2" aria-hidden="true"></i>
            c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</li>
          <li class="mt-2 mb-2"><i class="fa fa-phone text-danger mr-2" aria-hidden="true"></i>

            +025 2155 3255</li>
          <li><i class="fa fa-envelope-o text-danger mr-2" aria-hidden="true"></i>
            info@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-dark footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mt-3">
        <p class="text-light">Copyright © 2018. All Rights Reserved.

        </p>
      </div>
      <div class="col-md-6 mt-3">
        <ul class="list-unstyled text-light d-flex ml-5">
          <li><i class="fa fa-facebook" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-google" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-twitter" aria-hidden="true"></i>
          </li>
          <li class="ml-4"><i class="fa fa-linkedin" aria-hidden="true"></i>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>