.slider{
    overflow-x: hidden;
}
.slider-ineer1{
    background: url(src/assets/images/35.jpg);
    background-repeat: no-repeat;
    background-size: cover;
       min-height: 500px;
}
.slider-ineer2{
    background: url(src/assets/images/38.webp);
    background-repeat: no-repeat;
    background-size: cover;
       min-height: 500px;
}
.slider-ineer3{
    background: url(src/assets/images/60.webp);
    background-repeat: no-repeat;
    background-size: cover;
       min-height: 500px;
}
.carousel-inner{height: 600px;}
.carousel-caption1,.carousel-caption2{
     margin: 17% 32%;
    position: absolute;
    width: 36%;
}

.carous-img{height: 300px;overflow: hidden;}
.h5-product{margin-left: 42%;}
.images img{transition: all .5s}
.images{height: 280px;position: relative;overflow: hidden;}
.front{position: absolute;background: rgba(0, 0, 0, 0.5);height: 100%;width: 100%;left:0%;top:100%;transition: top .5s;}
.images:hover img{transform:scale(1.2)}
.images:hover .front{top:0%};
 .carous-img:hover .front2{opacity: 1;};

.carous-img img{transition: all .5s}
.carous-img:hover img{transform:scale(1.2)}
.images img{height: 100%;width:100%}
.image21{height: 200px;overflow: hidden;position: relative;}
.image21 img{height: 100%;width: 100%;transition: all .5s;}

.front2{
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left:0%;
    width: 100%;
    top:0%;
    opacity: 0;
    transition: top .5s;
}
.owl3 img,.owl img{transition: all .5s}
 .owl3 div:hover .front2,.owl div:hover .front2{opacity: 1;};
 .owl3 div:hover img, .owl div:hover img{transform:scale(1.2)}
 .fa-camera{margin-left: 50%;}
.image21:hover img{transform:scale(1.2)}
.image22{margin-left: -30px;}
.your-class-img{
    height: 126px;
    width: 33%;
}
.your-class-img img{height: 100%;}
.news-line{
    background-color: gainsboro;
    height: 1px;
    width: 80%;
}
.new-h2{font-size: 20px;}
.follow-update{margin-left: 22%;}
.owl div,.owl3 div{height: 130px !important;overflow: hidden;transition:all .5s ease-in;}
.owl3{margin-top: -4%;}
.para{font-size: 10px;}
.blog{
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    // padding: 15px 15px 30px 30px;
    padding-bottom: 15px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.image21 img{
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 2;
    transition: all .4s ease-in-out;
}
.parag{
    color: white;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top:0px;
transition: all .1s ease-in-out;
}
.parag h2{
    text-align: center;
    transition: all 0.03s ease-in-out;
    opacity: 0;
   font-size: 25px;
}
.parag a{
    transition: all 0.02s ease-in-out;
    opacity: 0;
    font-size: 18px;
    margin-left: 45%;
    color: white;
}
.parag p{
color: white;
line-height: 35px;
margin-top: -10px;
font-size: 18px;
text-align: center;
opacity: 0;
transition: all 0.03s ease-in-out;
}
.image21:hover img{
    transform: rotate(600deg)
    scale(0);
}
.image21:hover .parag{
    opacity: 1;
    transition-delay: 0.4s;
}
.image21:hover .parag a{
    transform:translateY(40px);
    transition-delay: 1s; 
    opacity: 1;
}
.image21:hover .parag p{
    transform:translateY(10px);
    transition-delay: 1.2s;
    opacity: 1;
}
.image21:hover .parag h2{
    transition-delay: 1.5s;
    opacity: 1;
}
.show2 {
    display: none;
}

.light {
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:66666;
    // display: none;
}
.fa-window-close {
    margin-left: 97%;
    margin-top: 20px;
    position: absolute;
}
.light-item {
    /* background-image: url(../images/11.jpg); */
    background-size: cover;
    width: 30%;
    height: 300px;
    margin-left: 30%;
    margin-top: 10%;
}
.fa-chevron-right {
    margin-left: 90%;
    margin-top: 30%;
}
@media (max-width: 767px ){/* mobile & tablet*/
.carousel-caption1,.carousel-caption2{margin-left: 0%;width:60%}
.image22{margin-left: 3%;}
.owl-carousel{width: 90%;}
.owl,.owl3{margin-left: 4%;}
.your-class-img{width:137% !important}
.your-class-img img{
width:100%;
}
.carous-img{width:140%}
.carous-img img{width:100%}
.front2 p{margin-left:10% !important}
.front2 button{margin-left:8% !important}
.front2{width:110% !important}
.follow-update{
    margin-left: 0%;
}

}
@media (min-width: 768px) and (max-width:991px){ /* small screen */



}
@media (min-width: 992px) and (max-width:1199px) { /* medium screen */


}